.newsfeedlist > img {
  width: 80px;
  height: 90px;
}
.newsviews {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.newsfeedlist {
  display: flex;
  flex-direction: row;
}
.newsfeed {
  display: flex;
  flex-direction: row;
}
.newsfeed img {
  width: 80px;
  height: 90px;
}
.newscards_main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
p {
  font-size: 12px;
  color: grey;
}

.newscards_main h5 {
  font-size: 15px;
}
.news_description {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
  background-color: white;
}
.newslist_description {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
  background-color: white;
}
a {
  font-size: 15px;
  color: rgb(0, 162, 255);
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration-line: underline;
}
.artindustry {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  width: 100%;
}
.latest_views {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.cards img {
  width: 80px;
}
.newscards {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.newsheading_main > h1 {
  padding: 10px;
}
.newsheading_main {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}
.newsheading_main > img {
  height: 25x;
  width: 90px;
  padding: 20px;
  border-radius: 40%;
}
@media (max-width: 1608px) {
  .newslist_description {
    width: 100%;
  }
  .news_description {
    width: 100%;
  }
}
@media (max-width: 1433px) {
  .newscards_main {
    width: 100%;
  }

  .newsfeed > img {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 20px;
  }
  .newscards_main h5 {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .newscards_main {
    width: 140%;
  }
}
@media (max-width: 637px) {
  .newscards_main {
    width: 120%;
  }
}
@media (max-width: 480px) {
  .newsfeedlist > img {
    width: 100px;
    height: 160px;
  }
  .newsfeed > img {
    width: 100px;
    height: 160px;
  }
  .newscards_main {
    width: 90%;
  }
  .newscards {
    width: 94%;
  }
  .artindustry {
    width: 94%;
  }
  .news_description {
    width: 90%;
  }
  .latest_views {
    gap: 60px;
  }
  .newsviews {
    gap: 60px;
  }
  p {
    font-size: 15px;
  }
  a {
    font-size: 12px;
  }
  .newscards_main h5 {
    font-size: 15px;
  }
}
