.userbio img {
  width: 40px;
}
.userbio {
  display: flex;
  flex-direction: row;
}
.currentchat {
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px;
  width: 70%;
}
.chatprofile {
  box-shadow: 2px 2px 5px black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  gap: 30px;
}
.mychat b,
.oppchat b {
  font-size: 20px;
}
.userimage {
  border-radius: 50%;
  border: 2px solid rgb(230, 228, 228);
  background-color: rgb(230, 228, 228);
  width: 100px;
  height: 100px;
  position: relative;
}
#desgin {
  color: blue;
  font-size: 20px;
}
#descrip {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  text-align: justify;
}
.chatprofile h4 {
  font-size: 20px;
}
.chatposts {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.chatposts > button {
  font-size: 18px;
  padding: 5px 15px;
  color: blue;
  background-color: aquamarine;
  border: none;
}
#active {
  font-size: 20px;
  padding: 10px;
  color: blue;
  border-color: blue;
  background: none;
}
.mychat,
.oppchat {
  border: 2px solid black;
  display: flex;
  width: 300px;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  border: none;
  background-color: white;
}
.messagefield {
  box-shadow: 2px 2px 5px black;
  background-color: rgb(213, 251, 238);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-end;
}

#textbox {
  font-size: 20px;
  width: 480px;
}
.messagebox > button img {
  width: 50px;
}
.messagebox {
  display: flex;
  flex-direction: row;
}
.messagebox button {
  border: none;
}
.oppchat {
  margin: 0 260px 0 0;
}
.chatposts b,
.chatposts p {
  font-size: 20px;
}
@media (max-width: 1462px) {
  .chatpage_main {
    flex-wrap: wrap;
  }
  .currentchat {
    width: 90%;
  }
}
@media (max-width: 1040px) {
  .currentchat {
    flex-wrap: wrap;
  }
  .messagefield {
    width: 100%;
  }
  .chatprofile {
    width: 100%;
  }
  .oppchat {
    margin: 0 500px 0 0;
  }
  .mychat,
  .oppchat {
    width: 350px;
  }
}
@media (max-width: 1038px) {
  .currentchat {
    width: 100%;
  }
}

@media (max-width: 1035px) {
  .currentchat {
    width: 80%;
  }
  .messagefield {
    gap: 0;
  }
}
@media (max-width: 1030px) {
  .currentchat {
    width: 100%;
  }
}
@media (max-width: 935px) {
  .currentchat {
    width: 100%;
  }
}
@media (max-width: 930px) {
  .currentchat {
    width: 90%;
  }
}
@media (max-width: 923px) {
  .currentchat {
    width: 100%;
  }
}
@media (max-width: 908px) {
  .oppchat {
    margin: 0 500px 0 0;
  }
  .messagebox {
    width: 200px;
  }
  .messagebox {
    margin: 0 200px 0 0;
  }
}
@media (max-width: 768px) {
  .currentchat {
    flex-wrap: wrap;
  }
  .mychat,
  .oppchat {
    width: 200px;
    font-size: 17px;
  }
  .messagefield {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    width: 100%;
  }

  @media (max-width: 768px) {
    .currentchat {
      flex-wrap: wrap;
    }
    .mychat,
    .oppchat {
      width: 250px;
      font-size: 17px;
    }
    .messagefield {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      width: 100%;
    }
    .mychat {
      margin: 0 0 0 370px;
    }
    #textbox {
      width: 600px;
    }
  }
  @media (max-width: 685px) {
    .messagefield {
      align-items: center;
    }
    .oppchat {
      margin: 0 200px 0 0;
    }
    .mychat {
      margin: 0 2px 0 0;
    }
  }
  @media (max-width: 480px) {
    .currentchat {
      flex-wrap: wrap;
      width: 100%;
    }
    .mychat,
    .oppchat {
      width: 200px;
      font-size: 17px;
    }
    .messagefield {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      width: 100%;
    }
    .mychat {
      margin: 0;
    }
    #textbox {
      width: 300px;
    }
    .messagebox {
      margin: 0 200px 0 0;
    }
  }
}
