.profile img {
  width: 30px;
  height: 30px;
}
.follow_main {
  box-shadow: 2px 2px 5px black;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background-color: white;
}

.followcards_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.followcardslist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 100%; */
}
.followprofile_main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 15px;
}
.profile {
  display: flex;
  flex-direction: row;
}
.profilepage {
  display: flex;
  flex-direction: column;
}
.profilepage > p {
  color: grey;
  padding: 10px 0;
}
.profilepage > p {
  font-size: 15px;
  color: blue;
}

.followcards {
  display: flex;
  flex-direction: row;
  gap: 50px;
  /* gap: 100px; */
}
#msgbox {
  background-color: rgb(89, 232, 248);
  border: none;
  font-size: 15px;
}
#accept {
  font-size: 15px;
  border-color: rgb(6, 255, 255);
  color: rgb(0, 162, 255);
}

.heading {
  display: flex;
  flex-direction: row;
  width: 98%;
  background-color: white;
  box-shadow: 2px 2px 4px black;
}
.heading > img {
  height: 25x;
  width: 70px;
  padding: 10px;
  border-radius: 40%;
}
.follow_user {
  border-radius: 50%;
  background-color: rgb(226, 225, 225);
  width: 100px;
  height: 120px;
}
.followprofile_main > p {
  font-size: 15px;
}
@media (max-width: 1608px) {
  .follow_main {
    width: 1030px;
  }
  .heading {
    width: 1030px;
  }
  .profile > h2 {
    font-size: 30px;
  }
  .followprofile_main {
    gap: 600px;
  }
  .followprofile_main > p {
    font-size: 20px;
  }
  .profilepage > p {
    font-size: 20px;
  }
  .followcards {
    gap: 300px;
  }
  .follow_main {
    gap: 60px;
  }
}
@media (max-width: 1433px) {
  .follow_main {
    width: 92%;
  }
  .heading {
    width: 92%;
  }
}
@media (max-width: 1223px) {
  .follow_main {
    width: 100%;
  }
}
@media (max-width: 1073px) {
  .follow_main {
    width: 100%;
  }
  .followprofile_main {
    gap: 200px;
  }
}
@media (max-width: 768px) {
  .follow_main {
    width: 110%;
  }
  .heading {
    width: 110%;
  }
}
@media (max-width: 734px) {
  .follow_main {
    width: 100%;
  }
  .heading {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .follow_main {
    width: 90%;
  }
  .heading {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .followprofile_main {
    gap: 100px;
  }
  .followcards {
    gap: 100px;
  }
  .follow_main {
    width: 85%;
  }
  .heading {
    width: 85%;
  }
}
